OPEN_EXCHANGE_RATES_API_KEY=your_key_here


WISE_API_TOKEN=


ETHERSCAN_API_KEY=

ALCHEMY_API_KEY=

INFURA_API_KEY=

BLOCKNATIVE_API_KEY=

COINGECKO_API_KEY=

SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
POLYGON_RPC_URL=https://polygon-rpc.com/
ETHEREUM_RPC_URL=

DATABASE_URL=sqlite:///./paygraph.db

API_HOST=0.0.0.0
API_PORT=8000
API_ENV=development

CORS_ORIGINS=http://localhost:3000,http://localhost:5173
RATE_LIMIT_REQUESTS_PER_MINUTE=60

FX_RATE_CACHE_TTL=3600
GAS_PRICE_CACHE_TTL=60

ENABLE_STABLECOIN_ROUTES=true
ENABLE_ACH_ROUTES=true
ENABLE_INTERNATIONAL_ROUTES=true
ENABLE_CRYPTO_ROUTES=true
